.calculator {
	position: absolute;
	border: solid 1px silver;
	padding: 12px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	max-width: 200px;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator div {
	width: 75%;
	background: #fff;
	border: solid silver 1px;
	box-sizing: border-box;
	padding-left: 12px;
}
.calculator button {
	width: 23%;
	border-radius: 3px;
	border: 1px solid silver;
	margin: 2px;
	padding: 3px;
}
